In [52]:
import evopreprocess as evp
import niapy.algorithms.basic as nia
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor

dataset = pd.read_excel("../databases/final_dataset.xlsx")
dataset.head()

,Unnamed: 0,name,code,year,pop_growth,rural_pop,agri_land,death_rate,life_exp_male,life_exp_female,...,gpd,inflation,grd_growth,gpd_growth_per_capita,oil_rents,col_rents,foreign_invest,purchasing_power,school_enrol,food_consumption
0,0,albania,ALB,1961,3.120855,69.057,44.963504,10.719,62.272,62.272,...,7.227617e+10,3.700008,3.269687,1.156293,13.102271,0.368326,0.0,8.379726e+09,119.329742,21.35
1,1,united arab emirates,ARE,1961,8.683733,25.617,2.928752,14.761,50.363,50.363,...,7.227617e+10,3.700008,3.269687,1.156293,41.516091,0.000000,7780000.0,1.593148e+11,80.064751,4.64
2,2,argentina,ARG,1961,1.624717,25.783,50.363395,8.618,62.460,62.460,...,7.227617e+10,20.310698,5.427843,3.728779,0.268367,0.000000,89769999.9,2.344553e+11,105.821312,31.45
3,3,australia,AUS,1961,1.989740,18.059,61.763332,8.500,67.900,67.900,...,1.968306e+10,3.221021,2.483271,0.464273,0.013721,0.134279,893138535.5,2.963715e+11,111.197807,32.31
4,4,austria,AUT,1961,0.548472,35.186,43.085313,12.100,66.470,66.470,...,7.311750e+09,5.087154,5.537979,4.960717,0.012188,0.000000,112650000.0,1.494263e+11,103.295776,79.14

In [53]:
target = dataset.loc[:, 'pop_growth']

dataset.drop(columns=['Unnamed: 0', 'name', 'code', 'pop_growth'], inplace=True)
dataset.rename(columns={'fertelity_rate': 'fertility_rate', 'moratality_rate': 'mortality_rate'}, inplace=True)

print(f'Empty cell check: {np.isnan(dataset.values).any()}')

print(dataset.dtypes)

Empty cell check: False
year                       int64
rural_pop                float64
agri_land                float64
death_rate               float64
life_exp_male            float64
life_exp_female          float64
fertility_rate           float64
young_a_d                float64
old_a_d                  float64
mortality_rate           float64
gpd                      float64
inflation                float64
grd_growth               float64
gpd_growth_per_capita    float64
oil_rents                float64
col_rents                float64
foreign_invest           float64
purchasing_power         float64
school_enrol             float64
food_consumption         float64
dtype: object

Regression models evaluation on the current dataset:

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

reg = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, positive=False)

X_train, X_test, y_train, y_test = train_test_split(dataset, target, train_size=60)
reg.fit_intercept

In [56]:
GA_selection = evp.feature_selection.EvoFeatureSelection(
    evaluator=DecisionTreeRegressor(max_depth=4),
    optimizer=nia.GeneticAlgorithm,
    random_seed=47,
    n_runs=5,
    n_folds=5,
    n_jobs=None
).fit_transform(dataset.values, target.values)

print(GA_selection.shape)

(7137, 7)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\evopreprocess\feature_selection\EvoFeatureSelection.py:164: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  features = stats.mode(features, axis=1, nan_policy='omit')[0].flatten()